<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New To Do</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--reference to all needed by AdminLTE theme sources -->
    <th:block th:include="templates :: adminLte_Headers"></th:block>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <th:block th:include="templates :: adminLte_footer_scripts"></th:block>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
          rel="stylesheet">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/js/adminlte.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"

          rel="stylesheet" type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/AdminLTE.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/alt/AdminLTE-fullcalendar.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/all.css" rel="stylesheet" type="text/css"/>


</head>

<body>

<div class="wrapper">
    <th:block th:include="templates :: navigator_bar"></th:block>
    <!--main section-->


    <section class="content">
        <!--    one row for to do and list of todos-->

        <div class="row">

            <!--        right column-->
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title">To Do List</h3>
                    </div>
                    <div class="row colored-row">
                        <div class="col-1">Id</div>
                        <div class="col-3">Task Title</div>
                        <div class="col-2">Start date</div>
                        <div class="col-2">Due Date</div>
                        <div class="col-1">Is done</div>
                        <div class="col-1">Username</div>
                        <div class="col-1">Action</div>

                        <!-- Example split danger button -->

                    </div>
                    <div class="row colored-row" th:each="toDo : ${toDoList}">
                        <div class="col-1" th:text="${toDo.getId()}"></div>
                        <div class="col-3" th:text="${toDo.getTaskTitle()}"></div>
                        <div class="col-2" th:text="${toDo.getCreationDate()}"></div>
                        <div class="col-2" th:text="${toDo.getDueDate()}"></div>
                        <div class="col-1" th:text="${toDo.getIsDone()}"></div>
                        <div class="form-inline">
                            <form th:action="@{/todo/details}" th:method="get">
                                <input type="text" th:value="${toDo.getId()}" name="toDoId" hidden>
                                <button type="submit" class="btn btn-info btn-sm" value="details">Details</button>
                            </form>
                            <form th:action="@{/todo/delete}" th:method="get">
                                <input type="text" th:value="${toDo.getId()}" name="toDoId" hidden>
                                <button type="submit" class="btn btn-danger btn-sm" value="delete">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!--       left column -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">To Do Details</h3>
                    </div>

                    <form th:action="@{/task/add}" th:method="post" role="form">
                        <div class="box-body">


                            <!-- text input -->
                            <div class="form-group">
                                <label>To do title</label>
                                <input type="text" class="form-control" name="todo_title"
                                       placeholder="Enter to do title" required>

                                <label>To do details</label>

                                <textarea class="form-control" name="task_description" rows="3"
                                          placeholder="Enter title" required></textarea>

                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                        <!-- Start Date -->
                        <div class="form-group">
                            <label>Start Date:</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" name="creation_date" class="form-control pull-right" required>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                        <!-- Due Date -->
                        <div class="form-group">
                            <label>Due Date:</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" name="due_date" class="form-control pull-right" required>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                        <!-- checkbox -->
                        <div class="form-group">
                            <label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="is_done" class="custom-control-input"
                                           id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">This to do is done</label>
                                </div>

                            </label>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                    </form>

                </div>


            </div>
        </div>

    </section>
</div>

<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker({
            autoclose: true
        });
        $('#startDatepicker').datepicker({
            autoclose: true
        });
        $('#datepickerG').datepicker({
            uiLibrary: 'bootstrap'
            // showOtherMonths: true
        });
    });

</script>

</body>
</html>